/* +++++++++++++++++++++++++++++++++ style-file[start] src/common/styles-init/_color.less */

@global-background-color: #fff;
@global-default-font: RobotoLight;
@global-text-color: #333;

/* +++++++++++++++++++++++++++++++++ style-file[end]   src/common/styles-init/_color.less */
