@import "~common/styles-init/index";

:local(.module-style) {
  position: relative;
  width: 100%;
  input.todoTextInput {
    font-size: 40px;
    outline: none;
    width: 100%;
  }
  .addTodo {
    display: none;
  }
  &:hover {
    .addTodo {
      @buttonSize: 50px;

      display: block;
      color:hsl(0, 0%, 40%);

      position: absolute;
      bottom: @buttonSize / -2;
      right: @buttonSize / 2;
      .circleButton( @buttonSize, hsl(122, 77%, 49%), 4px);
    }
  }
}
